body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef2ff;
    margin: 0;
    padding: 0;
    color: #1f2937;
}

#loading {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.7);

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

#loading.active {
    display: flex;
}

.spinner {
    width: 60px;
    height: 60px;

    border: 6px solid #dbeafe;
    border-top: 6px solid #3b82f6;

    border-radius: 50%;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}